extends layout.pug

block style
  link(rel="stylesheet", href="/static/landing.css")

block scripts
  script(src="/static/bin/landing.js")

block content
  div
    form#dice-count-form
      input#sessionId(type="hidden", value=sessionId)
      input#userId(type="hidden", value=userId)
      input#charName(type="hidden", value=charName)
      div#player-name
        span.key-text=charName
        a(href="/login") (edit)
      div.roller-input
        select#trait.roller-select(required, autofocus)
          option(value="", style="color:silver")|Select trait...
          each trait in constants.TRAITS
            option(title=trait.description)=trait.name
        input.small(type="number", placeholder="#", min=1, max=100, required)
      div.roller-input
        select#skill(required)
          option(value="", style="color:silver")|Select skill...
          each skill in constants.SKILLS
            option(title=skill.description)=skill.name
        input.small(type="number", placeholder="#", min=1, max=100, required)
      div
        button(type=submit)="Roll!"
    div#dice-roll-area
    div#raises.key-text(style="display: none")
      div#raise-count-container
        span.label
          |Raises:
        span#raise-count.value
      div#leftover-dice-container
        span.label
          |Leftover Dice:
        span#leftover-dice-count.value
  div
    table#char-rows
      tr
        th="Character"
        th="Approach"
        th.numeric="Raises"
        th.numeric="Hero Points"